NODE_ENV= # development / production

GEMINI_API_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_DOMAIN=
TELEGRAM_WEBHOOK_PATH=/telegram/webhook
TELEGRAM_MODE= # polling / webhook

DATABASE_URL= #all url to the Postgres server