NODE_ENV=development # development / production / test

GEMINI_API_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_DOMAIN= #https://simple-cv.life
TELEGRAM_WEBHOOK_PATH=/telegram/webhook
TELEGRAM_MODE=polling # polling / webhook

DATABASE_URL= #"postgresql://<user>:<pass>@simple-cv-postgres:5432/<db>?schema=public"

JWT_SECRET= #someCustomString
JWT_ACCESS_TOKEN_TTL=2h
JWT_REFRESH_TOKEN_TTL=7d

COOKIE_DOMAIN= #.simple-cv.local
FRONTENT_DOMAIN= #simple-cv.local